---
import MainLayout from "../layouts/MainLayout.astro";
import Menu from "../layouts/menu.layout.astro";
import Button from "../components/Button";

const arr = [1, 2, 3, 4, 5, 6];
---

<MainLayout title="HomePage">
  <Menu />
  <br />
  <hr />

  <p id="copyright" class="text-3xl text-center bg-slate-500 text-white"></p>
  <!-- {
    arr.map((item) => {
      return <p>{item}</p>;
    })
  } -->
  <p class="h-screen"></p>
  <p class="h-screen"></p>
  <Button client:visible />
</MainLayout>

<script>
  import "../js/utils";
</script>
