---
const baseUrl = "http://localhost:4321/";

const menuItems = [
  { id: 1, title: "Home", link: baseUrl },
  { id: 2, title: "About", link: `${baseUrl}/about` },
];
---

<ul>
  {
    menuItems.map((item) => {
      return (
        <li>
          <a href={item.link}>{item.title}</a>
        </li>
      );
    })
  }
</ul>
